* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: #222222;
}

/*General Rules*/
.standardfont {
    font-family: 'Poppins', sans-serif;
}

.letterspace {
    letter-spacing: 0.1rem;
}

.largeletterspace {
    letter-spacing: 0.15rem;
}

.wordmargin {
    margin: 0 0.25rem;
}

.whitefont {
    color: white; 
}

.grayfont {
    color: gray
}

.highlightfont {
    color: #ca004e;
}

.opacity {
    opacity: 0.55;
}

.xsmall {
    font-size: 0.5rem;
}

.small {
    font-size: 0.75rem;
}

.normal {
    font-size: 1rem;
}

.medium {
    font-size: 1.25rem;
}

.large {
    font-size: 2rem;
}

.xlarge {
    font-size: 2.5rem;
}

.standard {
    font-weight: 400;
}

.bold {
    font-weight: 800;
}

.transparentback {
    background-color: transparent;
}

.darkgrayback {
    background-color: #222222;
}

.lightgrayback {
    background-color: #333333;
}

.highlightback {
    background-color: #ca004e;
}

.darkgrayborder {
    border-color: #222222;
}

.lightgrayborder {
    border-color: #333333;
}

.xlightgrayborder {
    border-color: #444444;
}

.highlightborder {
    border-color: #ca004e;
}

.contentmargin {
    margin: 0.15rem 0.25rem;
}

.link {
    text-decoration: none;
    opacity: 0.7;
}

.link:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

/*Header*/

header {
    height: 6rem;
    width: 80%;
    margin: 2rem auto;
}

.navcontainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerleft {
    display: flex;
    align-items: center;
}

.letterround {
    border-radius: 100px;
    padding: 0.25rem 1.25rem;
    margin: 0 0.5rem;
}

.headernavlist {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 60%;
}

.headernavlist a {
    text-decoration: none;
}

.headernavlist a:hover{
    color: #ca004e;
    transition: color 1s;
}

.headernavlist a:active{
    font-weight: 800;
    transition: color 0.5s;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div {   
    width: 25px;
    height: 3px;
    margin: 5px;
}

@media screen and (max-width:1200px) {
  
    body {
        overflow-x: hidden;
    }

    .navcontainer {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .headernavlist {
        position: absolute;
        right: 0px;
        top: 7rem;
        height: 300px;
        width: 210px;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .burger{
        display: block;
    }  

}

.slide-active {
    transform: translateX(0%);
}

/*About Me*/

.aboutMe {
    width: 80%;
    margin: auto;
}

.aboutcontainer {
    height: auto;
    width: 100%;
    display: flex;
}

.aboutpicture {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-style: solid;
    border-width: 16px;
    box-shadow: 0px 0px 20px #333333;
    opacity: 0.7;
    border-radius: 50%;
    background-image: url("../images/avatar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.aboutpicture:hover{
    border-color: #ca004e;
    opacity: 1;
    transition: border-color 2s, opacity 1s;
}

.aboutcontent {
    width: 50%;
    min-width: 250px;
    height: 100%;
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rotate::before{
    content: '';
    animation: animate 8s infinite;
}

@keyframes animate {
    0%{
        content: 'Industrial automation';
    }
    33%
    {
        content: 'Embedded';
    }
    66%
    {
        content: 'Iot';
    }
    100%
    {
        content: 'Web';
    }
}

.buttons {
    height: 8rem;
    display: flex;    
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.button {
    margin-right: 2rem;
    padding: 0.75rem 2rem;
    border-style: solid;
    border-width: 0.15rem;
    border-radius: 100px;
    text-decoration: none;
    opacity: 0.7;
    box-shadow: 0px 0px 5px #333333;
}

.buttons a:hover {
    background-color: #ca004e;
    opacity: 1;
    transition: opacity 0.5s, background-color 0.8s;
}

.buttons a:active {
    opacity: 0.8;
    box-shadow: 0px 0px 10px #ca004e;
    transition: opacity 0.5s, box-shadow 0.5s;
}

@media screen and (max-width:1200px) {
    
    .aboutcontainer {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .aboutpicture {
        position: relative;
        width: 300px;
        height: 300px;
        margin: 0 auto;
        border-style: solid;
        border-width: 16px;
        box-shadow: 0px 0px 20px #333333;
        opacity: 0.7;
        border-radius: 50%;
        background-image: url("../images/avatar.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .aboutcontent {
        width: 100%;
        min-width: 250px;
        height: 100%;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .buttons {
        justify-content: space-around;
    }

    .button {
        margin-right: 0;
    }

}

/*eduskills*/
.eduskills {
    width: 80%;
    margin: 4rem auto;
}

.eduskillscontainer {
    height: 100%;
    width: 100%;
    display: flex;
}

.education {
    margin-right: 2rem;
    height: 100%;
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    height: 0.25rem;
    width: 100%;
}

.edubox {
    margin: 0.5rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.skills {
    margin-left: 2rem;
    height: 100%;
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}

.skillbox {
    margin: 0.5rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.baseline {
    height: 0.25rem;
    width: 100%;
}

.skillline {
    height: 0.25rem;
    position: relative;
    top: -0.25rem
}

.sixty{
    width: 60%; 
}

.seventy{
    width: 70%; 
}

.eighty{
    width: 80%; 
}

.ninety{
    width: 90%; 
}

.hundred{
    width: 100%; 
}

/*experience*/
.experiencecontainer {
    width: 80%;
    margin: 4rem auto;
}

.experienceinner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.expbox {
    width: 250px;
    height: 300px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

/*portfolio*/
.portfoliocontainer {
    width: 80%;
    margin: 4rem auto;
}

.portfolioinner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mediabox {
    width: 300px;
    height: 225px;
    margin: 2rem;
    flex-direction: column;
    align-items: center;
}

.embed {
    width: 100%;
    margin: 1rem auto;
}

/*contacts*/
.contactscontainer {
    width: 80%;
    margin: 4rem auto;
}

.contactsinner {
    width: 100%;
    height: 100%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

/*footer*/
footer {
    width: 80%;
    margin: 1rem auto;
}

.footercontainer {
    height: 100%;
    width: 100%;
}

.footerinner {
    margin: 0.5rem auto;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.footerleft {
    display: flex;
    align-items: center;
}

.footerfreespace {
    height: 100%;
    min-width: 50px;
    flex: 1;
}

.footernavlist {
    display: flex;
}

.footernavlist li {
    margin-right: 2rem;
    display: inline-flex;
}

.footernavlist a {
    text-decoration: none;
}

.footernavlist a:hover{
    color: #ca004e;
    transition: color 1s;
}

.footernavlist a:active{
    font-weight: 800;
    transition: color 0.5s;
}