* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    background-color: #222222;
}

/*General Rules*/
.standardfont {
    font-family: 'Poppins', sans-serif;
}

.letterspace {
    letter-spacing: 0.1rem;
}

.largeletterspace {
    letter-spacing: 0.15rem;
}

.wordmargin {
    margin: 0 0.25rem;
}

.whitefont {
    color: white; 
}

.grayfont {
    color: gray
}

.highlightfont {
    color: #ca004e;
}

.opacity {
    opacity: 0.55;
}

.xsmall {
    font-size: 0.5rem;
}

.small {
    font-size: 0.75rem;
}

.normal {
    font-size: 1rem;
}

.medium {
    font-size: 1.25rem;
}

.large {
    font-size: 2rem;
}

.xlarge {
    font-size: 2.5rem;
}

.standard {
    font-weight: 400;
}

.bold {
    font-weight: 800;
}

.transparentback {
    background-color: transparent;
}

.darkgrayback {
    background-color: #222222;
}

.lightgrayback {
    background-color: #333333;
}

.highlightback {
    background-color: #ca004e;
}

.darkgrayborder {
    border-color: #222222;
}

.lightgrayborder {
    border-color: #333333;
}

.xlightgrayborder {
    border-color: #444444;
}

.highlightborder {
    border-color: #ca004e;
}

/*Header*/
.headerhamburger {
    display: none;
}

header {
    height: 6rem;
    width: 80%;
    margin: 2rem auto;
}

.headercontainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.headerleft {
    display: flex;
    align-items: center;
}

.letterround {
    border-radius: 100px;
    padding: 0.25rem 1.25rem;
    margin: 0 0.5rem;
}

.headerfreespace {
    height: 100%;
    min-width: 50px;
    flex: 1;
}

.headernavlist {
    display: flex;
}

.headernavlist li {
    margin-right: 2rem;
    display: inline-flex;
}

.headernavlist a {
    text-decoration: none;
}

.headernavlist a:hover{
    color: #ca004e;
    transition: color 1s;
}

.headernavlist a:active{
    font-weight: 800;
    transition: color 0.5s;
}

/*About Me*/

.aboutMe {
    width: 80%;
    margin: auto;
}

.aboutcontainer {
    height: 600px;
    width: 100%;
    display: flex;
}

.aboutpicture {
    position: relative;
    top: 84px;
    min-width: 400px;
    height: 400px;
    margin: 0 auto;
    border-style: solid;
    border-width: 16px;
    box-shadow: 0px 0px 20px #333333;
    opacity: 0.7;
    border-radius: 50%;
    background-image: url("../images/avatar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.aboutpicture:hover{
    border-color: #ca004e;
    opacity: 1;
    transition: border-color 2s, opacity 1s;
}

.aboutcontent {
    width: 50%;
    min-width: 250px;
    height: 100%;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentmargin {
    margin: 0.15rem 0.25rem;
}

.rotate::before{
    content: '';
    animation: animate 8s infinite;
}
@keyframes animate {
    0%{
        content: 'Industrial automation';
    }
    33%
    {
        content: 'Embedded';
    }
    66%
    {
        content: 'Iot';
    }
    100%
    {
        content: 'Web';
    }
}

.buttons {
    height: 8rem;
    display: flex;    
    flex-wrap: wrap;
    align-items: center;
}

.button {
    margin-right: 2rem;
    padding: 0.75rem 2rem;
    border-style: solid;
    border-width: 0.15rem;
    border-radius: 100px;
    text-decoration: none;
    opacity: 0.7;
    box-shadow: 0px 0px 5px #333333;
}

.buttons a:hover {
    background-color: #ca004e;
    opacity: 1;
    transition: opacity 0.5s, background-color 0.8s;
}

.buttons a:active {
    opacity: 0.8;
    box-shadow: 0px 0px 10px #ca004e;
    transition: opacity 0.5s, box-shadow 0.5s;
}

/*eduskills*/
.eduskills {
    width: 80%;
    margin: 4rem auto;
}

.eduskillscontainer {
    height: 100%;
    width: 100%;
    display: flex;
}

.education {
    margin: 0 2rem;
    height: 100%;
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    height: 0.25rem;
    width: 100%;
}

.edubox {
    margin: 0.5rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.skills {
    margin: 0 2rem;
    height: 100%;
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}

.skillbox {
    margin: 0.5rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.baseline {
    height: 0.25rem;
    width: 100%;
}

.skillline {
    height: 0.25rem;
    position: relative;
    top: -0.25rem
}

.sixty{
    width: 60%; 
}

.seventy{
    width: 70%; 
}

.eighty{
    width: 80%; 
}

.ninety{
    width: 90%; 
}

.hundred{
    width: 100%; 
}